.intro {
    position: relative;
    height: 555px;
    width: 100%;
    background: url('../imgs/bg/intro_contacts.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.big_intro_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.check_text {
    font-size: 16px;
}


.intro_title {
    color: #fff;
    font-weight: 700;
    font-size: 62px;

}

.intro_subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 56px;
}



.contacts {
    margin-top: 93px;
}

.contacts_title {
    font-size: 16px;
    font-weight: 600;
    color: #2C3E50;
}

.contacts_items {

}
.contacts_item {
    margin-top: 48px;
}
.contacts_item_title {
    font-size: 16px;
    font-weight: 600;
    color: #2C3E50;
}
.contacts_item_subtitle {
    margin-top: 12px;
    font-size: 16px;
    color: #2C3E50;
}