.modal_container.add_task {
    
    height: max-content;
    padding: 20px;
    padding-top: 55px;
}


.add_task_button {
    display: block;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: .2s linear;
}

.add_task_button:hover {
    background-color: #f1f1f1;
    color: #fff;
}