version: "3.9"

services:
  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: react_client
    restart: "no"
    networks:
      - appnet

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: express_backend
    restart: always
    env_file:
      - backend/.env
    environment:
      - PORT=5000
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ./backend/node_modules:/app/node_modules
    depends_on:
      - db
    networks:
      - appnet

  website:
    build:
      context: .
      dockerfile: Dockerfile.website
    container_name: website_static
    restart: always
    networks:
      - appnet

  nginx:
    image: my-react-nginx 
    container_name: nginx_gateway
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./website:/var/www/website
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - client
      - backend
      - website
    ports:
      - "80:80"
      - "443:443"
    networks:
      - appnet

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "trap exit TERM;
       while :; do
         certbot renew --webroot -w /var/www/certbot --quiet;
         sleep 12h;
       done"
    networks:
      - appnet
    
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "Denchick26022007100%"
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - appnet
      
volumes: 
  pgdata:
    external: true
    name: consulting_project_pgdata
    
networks:
  appnet:
    driver: bridge