



.modal_container.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #fff;
    max-width: 800px;
    width: 90%;
    height: auto;
    max-height: 800px;
    border-radius: 5px;

}

.modal_input {
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(147, 147, 147);
    width: 100%;
}

.modal_button {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background-color: transparent;

    transition: .2s linear;
    cursor: pointer;
    font-size: 18px;
}

.modal_button:hover {
    background-color: rgb(243, 69, 69);
    color: #fff;
}

.create_video_iframe {
    margin-top: 20px;
    height: auto;
    width: 100%;
    height: 300px;
    background-color: rgb(129, 129, 129);
}