.admin_chat_users {

}

.admin_chat_user {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;

    transition: .2s linear;
}

.admin_chat_user:hover {
    background-color: rgb(246, 246, 246);
}

.admin_chat_user_img {
    width: 42px;
    height: 42px;
}

.admin_chat_user_info {
    margin-left: 10px;
}

.admin_chat_user_name {
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.admin_chat_user_message {
    margin-top: 3px;
    font-size: 12px;
    color: rgb(92, 92, 92);
}

.admin_chat_table {
    margin-top: 60px;
    min-width: 100%;
}

.admin_chat_table tr td {
    padding: 10px;
}

.admin_chat_table tr td:first-child {
    padding-left: 2px
}

.admin_chat_table tr:hover {
    background-color: rgb(242, 242, 242);
}

.admin_chat_table tr td:nth-child(1) {
    width: 3%;
}
.admin_chat_table tr td:nth-child(2) {
    width: 25%;
}
.admin_chat_table tr td:nth-child(3) {
    width: 25%;
}
.admin_chat_table tr td:nth-child(4) {
    width: 40%;
}
.admin_chat_table tr td:nth-child(5) {
    width: 7%;
}

.chat_users_link {
    color: #000;
}

.chat_users_link:hover {
    color: rgb(35, 121, 178);
}