



.top_nav_links_container {
    display: flex;
    justify-content: start;
}

.top_nav_number {
    margin-left: 20px;
}

.main_nav {
    background-color: #2C3E50;
    height: 61px;
    display: flex;
    align-items: center;
}

.main_nav_link {
    color: #fff;
    text-decoration: none;
    margin-left: 0;
    margin-right: 30px;
    font-weight: 200;
}

@media (max-width: 760px) {
    .main_nav {
        display: none;
    }

    .top_nav_links_container {
        display: none;
    }

    .top_nav_links {
        justify-content: end;
    }
}


/* CONTENT */

.content {
  
}

.content_inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.user_table {
    margin-top: 20px;
}

.user_table tr td:nth-child(1) {
    text-align: right;
    color: rgb(176, 176, 176);
    font-size: 14px;
}

.user_table tr td:nth-child(2) {
    padding-left: 40px;
    font-size: 14px;
}

.content_welcome_title {
    font-weight: 700;
    font-size: 24px;
    color: #2C3E50;
}
.content_welcome_text {
    margin-top: 20px;
    font-weight: 200;
    font-size: 18px;
    color: #2C3E50;
}
.statement {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.statement_description {
    margin-left: 10px;
}
.statement_title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
    color: #2C3E50;
}
.statement_link {
    margin-top: 5px;
    font-weight: 300;
    font-size: 16px;
    color: #2C3E50;
    cursor: pointer;

    transition: .2s linear;
}
.statement_link:hover {
    text-decoration: underline;
}
.content_program {
    margin-top: 64px;
}
.content_program_title {
    font-size: 20px;
    font-weight: 600;
    color: #2C3E50;
}
.content_program_inner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.content_program_well {
    padding: 20px;
    width: 68%;
    border-radius: 16px;
    background-color: #D9D9D9;
    transition: .2s linear;
    cursor: pointer;
}

.content_program_well:hover {
 
    background-color: rgb(203, 203, 203);
}

.content_program_well_img {
    position: relative;
    overflow: hidden;
}

.content_program_well_img::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../../../assets/imgs/UI/arrow.svg");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    transition: .2s ease-in-out;
    opacity: 0;
}

.content_program_well_img img {
    transition: .2s ease-in-out;
}

.content_program_well:hover .content_program_well_img img {
    transform: translate(0, 110%);
    opacity: 0;
   
}

.content_program_well:hover .content_program_well_img::before {
    top: 50%;
    
    opacity: 1;
}   


.content_program_well_description {
    display: flex;
    justify-content: space-between;
}
.content_program_well_title {
    font-weight: 600;
    font-size: 18px;
    width: 60%;
    color: #2C3E50;
}
.content_program_well_progressbar_container {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.content_program_well_progressbar {
    position: relative;
    height: 11px;
    border-radius: 11px;
    background-color: #fff;
    width: 80%;
}
.content_program_well_progressbar_inner {
    content: "";
    position: absolute;
    border-radius: 11px;
    background-color: #2980B9;
   
    height: 100%;
    top: 0;
    left: 0;
}
.content_program_well_procent {
    font-size: 14px;
    font-weight: 200;
    color: #2C3E50;
    margin-left: 7px;
}
.how {
    width: 28%;
}
.how_check_container {
    display: flex;
}

.how_check_text {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 200;
    color: #60bf40;
}

.legal {
    margin-top: 100px;
}

.back_button {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    color: #2C3E50;
    margin-bottom: 50px;
}
.back_button span {
    margin-left: 16px;
}

.back_button svg {
    transition: .2s linear;
    cursor: pointer;
}

.back_button svg circle {
    transition: .2s linear;

}

.back_button svg:hover circle {
    fill: rgb(108, 108, 108);
}

.back_button svg path {
    fill: rgb(255, 255, 255);
    transition: .2s linear;
}


.back_button svg:hover path {
    fill: rgb(255, 255, 255);
}


/* LEFT MENU */

.left_menu {
 
  
    padding-top: 33px;
    padding-bottom: 100px;
    background-color: #D9D9D9;

    
}
.left_menu_item {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #2C3E50;
    width: 100%;
    min-height: 45px;
    margin-top: 30px;
    padding: 10px 30px;

    cursor: pointer;
    transition: .2s linear;
}

.left_menu_item:hover {
    background-color: #C7C7C7;
   
}

.left_menu_item.active {
    font-weight: 600;
    background-color: #C7C7C7;
    border-radius: 5px;
    width: 104%;
    transform: translateX(-2%);
}

.admin_inner {
    display: flex;
    position: relative;
    align-items: stretch;
    min-height: 635px;
}

.admin_container {
    margin-top: 35px;
    margin-left: 70px;
    margin-bottom: 30px;
    width: 100%;
}

@media (max-width: 1280px) {
    .admin_inner {
        
        flex-wrap: wrap;
    }
    .left_menu {
        width: max-content;
        display: flex;
        flex-wrap: wrap;
        height: max-content;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 10000;
    }
    .left_menu_item {
        margin-top: 0;
        min-height: auto;
        padding: 10px 15px;
        text-align: center;
        font-size: 16px;
        min-width: max-content;
        min-width: auto;
        width: max-content;
    }
    .admin_container {
        margin-top: 40px;
        margin-left: 0;
    }
    .content {
        margin-top: 20px;
    }
}