.tabs {
    margin-top: 15px;
}
.tabs_nav_links {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
}
.tabs_nav_link {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    color: #000;
    transition: .2s linear;
    cursor: pointer;
}

.tabs_nav_link:hover {
  
    color: #2980B9;
}

.tabs_nav_link.active {
    border-bottom: 1px solid #2980B9;
    color: #2980B9;
}
.tab {
    display: none;
}
.tab.active {
    display: block;
}
.admin_program_items {
    margin-top: 50px;
   
}
.admin_program_item {
    position: relative;
    margin-right: 23px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D9D9D9;
 
    border-radius: 9px;

    transition: .2s linear;

    cursor: pointer;
}


.admin_program_item_skelet {
    background-color: rgb(217 217 217);
    border: none;
    animation: fade .6s linear infinite alternate;
}

@keyframes fade {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

/* .admin_program_item:hover {
    box-shadow: 2px 2px 15px 4px rgba(139, 139, 139, 0.266);
} */


.admin_program_item_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px 22px;

}
.admin_program_item_title {
    font-size: 16px;
    font-weight: 400;
    color: #2C3E50;
    margin-left: 127px;
}
.admin_program_item_img {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D9D9D9;
    border-radius: 9px;
    width: 100px;
    height: 100%;
    overflow: hidden;
}

.admin_program_item_img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin_program_item_title_skelet {
    width: 80%;
    height: 80%;
    border-bottom:2px solid rgb(172, 172, 172);
}
.admin_program_item_peoples {
    
    color: #898989;
    font-size: 16px;
    font-weight: 500;
}
.admin_program_item_price {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #AEAEAE;
    padding: 16px 28px;
    color: #898989;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}


.MakeProgramContainer {
    margin-top: 50px;
}

.MakeProgramInputs_group {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.MakeProgramInputs_group.long {
    display: flex;
}

.MakeProgramInputs_group label {
    text-align: right;
    margin-right: 14px;
    font-weight: 600;
    color: #2C3E50;
    font-size: 16px;
}

.MakeProgramInputs_group .MakeProgramInputs_group_label {
    text-align: left;
    color: #2C3E50;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.MakeProgramInputs_group_preview {
    position: relative;
    max-width: min-content;
}

.MakeProgramInputs_group_preview_delete {
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: none;
    cursor: pointer;

    transition: .2s linear;
}

.MakeProgramInputs_group_preview_delete:hover {
    background-color: red;
    color: #fff;
}

.MakeProgramInput {
    border: none;
    outline: none;
    
    color: #2C3E50;
    font-size: 16px;
    width: 80%;
   
    
}


.MakeProgram_hr {
    margin-top: 29px;
    margin-bottom: 29px;
    width: 100%;
    height: 1px;
    background-color: #C7C7C7;
}

.SearchInput {

    border-radius: 4px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid #C7C7C7;
    font-size: 14px;
    width: 100%;
    margin-top: 30px;
}
.SearchInput::placeholder {
    color: #C7C7C7;
    font-size: 13px;
}

.MakeProgram_Theme_Button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: rgb(177, 177, 177);
    border-radius: 2px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: .2s linear;
}




.MakeProgram_Theme_Button.hide_punct.active svg {
    transform: rotate(180deg);
}

.MakeProgram_Theme_Button_skelet {
    background-color: rgb(189 189 189);
    border: none;
    cursor:auto;
}

.admin_program_item_button_group {
    display: flex;
}

.admin_program_item_button_group .MakeProgram_Theme_Button {
    border: none;
}
.MakeProgram_Theme_Button:hover {
    background-color: rgb(55, 139, 241);
    color: #fff;
}

.MakeProgram_Theme_Button.red:hover {
    background-color: rgb(241, 55, 55);
    color: #fff;
}

.MakeProgram_Theme_Button.red:hover {
    background-color: rgb(241, 55, 55);
    color: #fff;
}
.MakeProgram_Theme_Button_skelet:hover {
    background-color: rgb(189 189 189);
}
.MakeProgram_Theme_Button svg {
    transition: .2s linear;
    width: 20px;
}

.MakeProgram_Theme_Button:hover svg {
    fill: #fff;
}

.MakeProgram_Themes {
    margin-left: 20px;
}

.MakeProgramInput::placeholder {
    font-size: 18px;
    color:rgb(126, 126, 126)
}

.MakeProgramTitle {
    font-size: 20px;
    margin-top: 40px;
    font-weight: 800;
}


.MakeProgram_Punct_Materials {
    margin-left: 4;
    margin-top: 25px;
    display: flex;
    align-items: start;
}

.MakeProgram_Punct_Material {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22px;
    height: 22px;
}

.MakeProgram_Punct_Material_delete {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.MakeProgram_Punct_Material_delete:hover {
    background-color: red;
    color: #fff;
}

.MakeProgram_Punct_Material_input {
    display: none;
}

.MakeProgram_Theme {

    margin-top: 20px;
}

.MakeProgram_Theme_Title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.MakeProgram_Theme_Title svg {
    cursor: pointer;
}

.MakeProgram_Theme_Title b {
    color: #2C3E50;
    font-weight: 600;
}

.MakeProgram_Theme_Puncts {
    margin-left: 55px;
    width: 100%;
}

.MakeProgram_Theme_Punct {
    
    width: 100%;
    margin-top: 20px;
}

.MakeProgram_Theme_Punct_title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.MakeProgram_Theme_Punct_title b {
    color: #2C3E50;
    font-weight: 600;
}

.MakeProgram_Punct_Material_Text {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.MakeProgram_Punct_Material_Text.blue {
    color: rgb(0 123 255);
    font-weight: bold;
    text-transform: uppercase;
}

.MakeProgram_Punct_Material_Plus {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    position: relative;
   
    border-radius: 2px;
    margin-left: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.MakeProgram_Punct_Material_Plus img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

/*.MakeProgram_Punct_Material_Plus:hover {*/
/*    background-color: rgb(198, 198, 198);*/
/*    color: #fff;*/
/*}*/

.MakeProgramFlex {
    display: flex;

    justify-content: space-between;
    width: 200px;
    align-items: center;
}

.MakeProgramFlex.long {
    width: 100%;
    justify-content: start;
    align-items: end;
}
.button_container {
    margin-top: 100px;
    display: flex;
    justify-content: end;
}

.MakeProgram_Theme_Marker {
    font-size: 20px;
    font-weight: bold;
}

.content {
    
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.loader_container {
    position: relative;
    width: 500px;
    height: 40px;
    background-color: rgb(186, 186, 186);
    border-radius: 20px;
    overflow: hidden;
}

.loader_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    background-color: #2C3E50;
    border-radius: 20px;
    animation: loaderAnim 20s ease-in-out forwards;
}

.loader_text {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

@keyframes loaderAnim {
    0% {
        width: 0;
    }
    10% {
        width: 30%;
    }

    25% {
        width: 35%;
    }

    50% {
        width: 45%;
    }

    65% {
        width: 70%;
    }
    90% {
        width: 73%;
    }

    100% {
        width: 100%;
    }
}

.red_input::placeholder {
    color:rgb(241, 55, 55);
}