.admin_chat {
    position: relative;
    width: 100%;
    height: 100%;
    
    background-color: rgb(216, 216, 216);
}

.admin_chat_container {
    max-height: 80vh;
    padding-bottom: 100px;
    overflow-y: scroll;
}

.admin_chat_container::-webkit-scrollbar {
    display: none;
}

.admin_chat_message_container {
    margin-top: 10px;
    
    
    display: flex;
    width: 100%;
    position: relative;
}

.admin_chat_admin_svg {
    position: absolute;
    bottom: 0;
    right: -4px;
    bottom: -3px;
}

.admin_chat_user_svg {
    position: absolute;
    bottom: 0;
    left: -4px;
    bottom: -3px;
}

.admin_chat_message_container:nth-child(1) {
    margin-top: 10px;
}

.admin_chat_message_container.user {
    justify-content: start;
    margin-left: 5px;
}

.admin_chat_message_container.admin {
    justify-content: end;
    
}

.admin_chat_message_container.user .admin_chat_message {
    background-color: #2980B9;
    border-radius: 5px 5px 5px 0;
}

.admin_chat_message_container.admin .admin_chat_message {
    margin-right: 5px;
    background-color: #fff;
    border-radius: 5px 5px 0 5px;
    color: #000
}

.admin_chat_message_container.admin .admin_chat_user_svg {
    display: none;
}

.admin_chat_message_container.user .admin_chat_admin_svg {
    display: none;
}

.admin_chat_message {
    display: flex;
    align-items: end;
    max-width: 40%;
    min-height: 44px;
    color: #fff;
    padding: 10px;
}

.admin_chat_message_time {
    font-size: 10px;
    margin-left: 6px;
    color:rgb(105, 105, 105);
}

.admin_chat_message_container.user .admin_chat_message_time {
    color:rgb(220, 220, 220);
}

.admin_chat_input_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border: none;
    outline: none;
    padding-left: 10px;
}

.admin_chat_input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(243, 243, 243);
}

.admin_chat_send {
    display: none;
    min-width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0;
    background-color: #2980B9;
    color: #fff;Ð¿
    transition: .2s linear;
    cursor: pointer;
}

.admin_chat_send:hover {
    background-color: #fff;
    color: #000;
}

.block.admin_chat_send {
    display: flex;
    border-radius: 8px;
}   

.open_menu .chat_context_menu {
    display: block;
}


.chat_context_menu {
  
    display: none;
    background-color: #fff;
    border: 1px solid #000;
    width: 100px;
 
    border-radius: 5px;
}

.chat_context_menu_button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s linear;
}

.chat_context_menu_button:hover {
    background-color: rgb(253, 76, 76);
    color: #fff;
}

.admin_user_panel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    width: 100%;
    height: 50px;
    background-color: #2C3E50;
    color: #fff;
}

