.intro_title {
    font-weight: 700;
    font-size: 62px;
    color: #fff
}

.intro_subtitle {
    font-weight: 400;
    font-size: 56px;
    color: #fff
}

.intro.bg-2 {
    position: relative;
    background: url('../../assets/imgs/bg/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.intro.bg-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2C3E50CC;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.intro.bg-2 .big_intro_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 2;
}
