.admin_table {
    margin-top: 34px;
}


.admin_table tr th:nth-child(1) {
    width: 5%;
}
.admin_table tr th:nth-child(2) {
    width: 20%;
}
.admin_table tr th:nth-child(3) {
    width: 25%;
}
.admin_table tr th:nth-child(4) {
    width: 20%;
}

.admin_table tr td {

    padding: 7px 0;
}

.admin_table tr td {
    font-weight: 400;
    font-size: 14px;
    color: #2C3E50;
    
}

.admin_table tr td a {
    color: #2C3E50;
    transition: .2s linear;
}
.admin_table tr td a:hover {
    color: #307cc8;
}


.progress-bar_container {
    position: relative;
    border: 1px solid #2980B9;
    border-radius: 11px;
    height: 11px;
    width: 70%;
}


.admin_path {
    font-weight: 400;
    font-size: 16px;
    color: #2C3E50;
}
.admin_button {
    border: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    color: #525459;
    background-color: #D9D9D9;
    max-width: max-content;

    border-radius: 7px;
    cursor: pointer;
    transition: .2s linear;
}

.admin_button:hover {
    background-color: rgb(45, 145, 203);
    color: #fff;
}


/*ADD_INPUTS*/

.add_input_items {
    margin-top: 30px;
    width: 100%;
}
.add_input_item {
    padding: 25px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #C7C7C7;
}
.add_input_item:nth-child(1) {
    border-top: 1px solid #C7C7C7;
}

.add_input {
    margin-left: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    width: 80%;
}

.add_input_button_container {
    display: flex;
    justify-content: end;
}

.add_input_button {
    margin-right: 20px;
}

.add_input_button.back:hover {
    background-color: rgb(228, 85, 85);
    color: #fff;
}









.statement.admin {
    width: 50%;
}

.content_program_well.listener_page {
    width: 50%;
}

.skeleton tr td {
    padding: 20px;
    background-color: rgb(222, 222, 222);
    animation: fade .6s linear infinite alternate;

}

@keyframes fade {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

.admin_table.big {
    width: 100%;
}