

.block_table {
    width: 100%;
}

.block_table_th {
    text-align: left;
    padding: 10px;
}

.block_table_td {
    text-align: left;
    padding: 10px;
    background-color: #fff;
}

.block_table_td.green {

    background-color: rgb(171, 255, 182);
}