

.block_table {
    width: 100%;
}

.block_table_inner {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
}

.block_table_th {
    text-align: left;
    background-color: rgb(221, 221, 221);
    padding: 10px;
}

.block_table_td {
    text-align: left;
    padding: 10px;
    background-color: #fff;
}

.block_table_td.green {

    background-color: rgb(255, 255, 255);
}