

.add_button {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.add_button svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.add_button svg path {
    fill: #828282;
}

.add_button:hover svg path {
    fill: #2980B9;
}