
@keyframes anim {
    0% {
        display: block;
        transform: translate(-50%, -65%);
        opacity: 0;
    }

    100% {
        display: block;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(16, 16, 16, 0.303);
    z-index: 100000;
   
}



.modal.show {
    display: block;
    
}



.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #fff;
    width: 500px;
    overflow-y: scroll;
    height: 90%;

    border-radius: 5px;
    z-index: 100000;

    animation: anim .2s ease-in-out;
}

.modal_container.test {
    max-width: 1100px;
    width: 90%;
}

.modal_input {
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(147, 147, 147);
    width: 100%;
}

.modal_checkbox {
    width: 16px;
    height: 16px;
}

.modal_input.test {
    width: 100%;
    field-sizing: content;
    font-size: 16px;
    padding-bottom: 2px;
}

.modal_input.test.answer {
    width: 40%;
    font-size: 16px;
    padding-bottom: 2px;
}

@media (max-width: 900px) {
    .modal_input.test {
        width: 100%;
       
    }
    
    .modal_input.test.answer {
        width: 100%;
        
    }
}

.answer_option {
    align-items: end;
}

.answer_option .MakeProgram_Theme_Button {
    opacity: 0;
}

.answer_option:hover .MakeProgram_Theme_Button {
    opacity: 1;
}

.modal_button {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background-color: transparent;

    transition: .2s linear;
    cursor: pointer;
    font-size: 18px;
}

.modal_button:hover {
    background-color: rgb(243, 69, 69);
    color: #fff;
}

.test_times {
    display: flex;
    width: 250px;
    margin-top: 20px;
    font-size: 26px;
}

.modal_input.test_time {
    font-size: 20px;
}

.modal_input.test_time::-webkit-outer-spin-button,
.modal_input.test_time::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}