.relative {
    position: relative;
}

.datalist {
  
    position: absolute;
    top: 100%;
    left: 120px;
    background-color: rgb(218, 218, 218);
    
}

.datalist.active {
    display: block;
}

.datalist_item {
    padding: 20px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: .2s linear;
}

.datalist_item:hover {
    background-color: rgb(232, 232, 232);
}

.background-yellow {
    background-color: rgb(238, 238, 62);
}

.selected_program {
    position: relative;
    margin-left: 30px;
    padding: 10px;
    padding-right: 25px;
    background-color: rgb(226, 226, 226);
}

.selected_program_delete {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor:pointer;
}

.selected_program_delete:hover {
    background-color: red;
    color: #fff;
}

.add_checkbox {
    width: 20px;
}

.add_input.red::placeholder {
    color: rgb(255, 72, 72);
}